@page "/fetchdata"
@inject GrpcChannel Channel
@using Google.Protobuf.WellKnownTypes

<h1>El clásico Weather forecast</h1>

<p>Rescatando datos del servidor gRPC.</p>

@if (forecasts == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.DateTime.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <img src="/grpc-logo.png" alt="gRPC logo" />
    <p>
        Datos desde el servicio gRPC.
    </p>
</div>

@code {
    private IList<WeatherForecast>? forecasts;

    protected override async Task OnInitializedAsync()
    {
        var client = new WeatherForecasts.WeatherForecastsClient(Channel);
        forecasts = (await client.GetWeatherForecastsAsync(new Empty())).Forecasts;
    }
}
